.letters {
    text-align: center;
    .letters-container {
        display: inline-flex;
        .letter {
            border-style: solid;
            padding: 8px;
            margin: 2px;
        }
    }
}
